@charset "utf-8";

@use "../global/variables" as var;
@use "../global/mixins" as mix;

.edit-list {
  // width: 1000px;
  // margin: 0 auto;

  display: flex;
  flex-direction: column;

  .edit-list-form {
    color: var.$secondary-color;
    flex: 1;

    .edit-list-title {
      width: var.$form-width;
      margin-bottom: var.$margin-bottom;
    }

    .delete-list-button {
      color: var.$error-color;
      border: solid 1px var.$error-color;
      width: var.$button-width;
      height: var.$button-height;
      margin: 25px var.$margin-5px;
      border-radius: var.$button-radius;
    }

    .edit-list-button {
      background-color: var.$primary-color;
      color: var.$white-color;
      width: var.$button-width;
      height: var.$button-height;
      border-radius: var.$button-radius;
    }

    .error-message {
      color: var.$error-color;
    }
  }
}
