@charset "utf-8";

@use "../global/variables" as var;
@use "../global/mixins" as mix;

.new-task {
  // width: 1000px;
  // margin: 0 auto;

  display: flex;
  flex-direction: column;
}

.new-task-form {
  color: var.$secondary-color;
  flex: 1;
}

.new-task-select-list,
.new-task-title,
.new-task-detail {
  width: var.$form-width;
  margin-bottom: var.$margin-bottom;
}

.new-task-detail {
  height: 200px;
}

.new-task-button {
  background-color: var.$primary-color;
  color: var.$white-color;
  width: var.$button-width;
  height: var.$button-height;
  border-radius: var.$button-radius;
}

.error-message {
  color: var.$error-color;
}
